

<!DOCTYPE html>
{% load static %}
<html>
<head>
<title>{{title}}</title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

<!-- START OF CSS only ...BOOTSTRAP-->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" 
integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


<!--ALWAYS INSERT THE CUSTOMIZED CSS AFTER THE BOOTSTRAP CSS SO THAT IT CAN OVERRIDE THE BOOTSTRAP IF NEEDED.-->
<link rel="stylesheet" type="text/css" href="{% static 'css/eshop_mainstyle.css' %}">

</head>
<body>
    <!--start of navbar section-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'dashboard' %}" style="margin-left: 50px">Dashboard</a>
        <a class="navbar-brand" href="{% url 'stock_online' %}" style="margin-left: 50px">Stock</a>
        <a class="navbar-brand" href="{% url 'customer_online' %}" style="margin-left: 50px">Customers</a>
        <a class="navbar-brand" href="{% url 'orders_online' %}" style="margin-left: 50px">orders</a>
        <a class="navbar-brand" href="{% url 'order_online_items' %}" style="margin-left: 50px">order Items</a>
        <a class="navbar-brand" href="{% url 'shipping_address_online' %}" style="margin-left: 50px">Shipping Address</a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse"
         data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
         aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              
            </li></ul></div>
            
            <div class="form-inline my-2 my-lg-0">
                <a href="#"class="btn btn-warning">Login</a>
              </div>
                <a href="{% url 'cart' %}">
                   <img  id="cart-icon" src="{% static 'images/cart.png' %}" >
               </a>
               <p id="cart-total" style="margin-right: 50px">{{cartItems}}0</p>
   
           
        
      </nav>

    <!--end of navbar section-->
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" 
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'js/cart.js' %}"></script>
</body>
</html>